$text-valid   = #480
$text-invalid = #f44
$text-warning = #f80

.mgr-validation-messages
	list-style none
	margin 0
	padding 0
	font-size .8rem
	text-align left

	li
		margin .6rem

	p
		margin .4rem 0
		line-height 1.2

	.mgr-valid
		color $text-valid
	
	.mgr-invalid
		color $text-invalid

	.mgr-warning
		color $text-warning
